.list-group .list-group-item {
    margin-bottom: 1px;
    height: 43px;
    padding: 8px 15px;
}

.app-performances {
    padding-top: 10px;
    width: 100%;
}

.app-performances.active {
    border-color: #5cb85c;
}

.app-performances button {
    margin: 0 5px 5px 0;
}

.app-new-performance-button {
    margin-bottom: 5px;
}

.app-performance-group-container {
    width: 215px;
}

.performance-name-container {
    width: 390px;
}

.app-nodes,
.performance-name-container,
.performance-action-buttons,
.app-node-settings,
.app-performance-queue-container,
.app-performance-queue {
    margin-bottom: 10px;
}

.app-performance-queue span.ui-icon {
    margin-right: 5px;
    cursor: move;
}

.app-performance-queue button {
    height: 21px;
    width: 21px;
    padding: 2px;
    margin: 0 0 0 5px;
    position: relative;
}

.app-performance-queue button span {
    position: absolute;
    left: 1px;
    top: 3px;
}

.app-clear-performance-queue {
    margin: 0;
}

.app-timeline-nodes,
.app-timeline-checkbox {
    background-color: #323F48;
}

.app-timeline-nodes {
    height: 20px;
    margin-bottom: 1px;
    max-height: 20px;
    position: relative;
    width: 100%;
}

.app-timeline-nodes .app-node {
    position: absolute;
}

.app-timeline-editor {
    margin-bottom: 5px;
}

.app-node {
    position: relative;
    display: inline-block;
    line-height: 14px;
    height: 20px;
    text-align: left;
    z-index: 999;
    cursor: pointer;
    border: 1px solid #182934;
    overflow: hidden;
}

.app-node[data-name="expression"] {
    background-color: #517688;
}

.app-node .ui-resizable-handle {
    position: absolute;
    right: 0;
    bottom: 0;
}

.app-node-settings .ui-slider {
    min-width: 200px;
}

.node-setting-buttons {
    margin-top: 22px;
}

.app-node.active {
    box-shadow: 0 0 3pt 2pt #5cb85c;
    z-index: 9999;
}

.app-timeline {
    position: relative;
}

.app-slider-demo {
    height: 26px;
}

.app-node-resize-handle {
    position: absolute;
    right: 0;
    line-height: 19px;
    margin: 0 2px;
}

.app-timeline-actions button {
    margin-right: 1px;
}

.app-timeline-container {
    overflow: visible;
}

.app-node-settings label {
    margin: 0 0 5px;
    display: block;
}

.app-node-settings .form-group {
    margin-right: 5px;
}

.app-node-settings hr:first-child {
    margin: 9px 0 0;
}

.app-node-settings hr:last-child {
    margin: 9px 0;
}

.app-timeline-editortainer {
    position: relative;
}

.app-timelines-container {
    overflow: visible;
    margin-top: 10px;
}

.app-scroll-container {
    position: relative;
}

.app-node-settings .app-crosshair {
    margin-top: 10px;
}

.app-timelines {
    position: relative;
}

.app-run-indicator {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #5cb85c;
    z-index: 99999;
    cursor: pointer;
}

.app-current-time {
    position: absolute;
    top: 100%;
}

.app-current-time div {
    background-color: #5cb85c;
    padding: 0 3px;
    margin-left: -50%;
    margin-right: 50%;

    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

/*.app-node-start-time,*/
/*.app-node-duration,*/
/*.app-node-timeout {*/
    /*width: 70px !important;*/
/*}*/

.app-performance-template {
    display: none;
}

li.app-performance .app-remove,
li.app-performance .app-edit {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

li.app-performance .app-status-indicator {
    height: 14px;
    width: 14px;
    background-color: #182934;
    display: inline-block;
    margin-right: 5px;
}

li.app-performance .app-status-indicator.active {
    background-color: #5cb85c;
}

.app-performance-queue .ui-state-highlight {
    height: 38px;
}

.app-time-axis {
    height: 20px;
    cursor: pointer;
}

.app-time-axis path,
.app-time-axis line {
    stroke: #5cb85c;
    fill: none;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.app-time-axis text {
    font-family: sans-serif;
    font-size: 11px;
    stroke: #ebebeb;
}

textarea.form-control.app-node-text {
    height: 100px;
}

.input-group .form-control.app-performance-name {
    width: auto;
}

.app-performance-buttons > button {
    display: table-cell;
    margin-right: 5px;
}

@media (min-width: 613px) {
    .performance-action-buttons {
        float: right;
    }
}

.app-expression-select,
.app-emotion-select,
.app-gesture-select,
.app-kfanimation-select {
}

.app-lang-select {
    width: 100px;
}

.app-current-path {
    float: right !important;
    z-index: 999;
}

.app-current-path a {
    margin: 0 !important;
}

.app-selectareas-container {
    margin: 10px 0;
    border: 1px solid #323F48;
}

.select-areas-footbar {
    margin-bottom: 15px;
}

.app-performance-group-tabs li.highlight a {
    border-color: #5cb85c !important;
}

.app-new-dir {
    padding: 5px;
    border: 1px solid #323F48;
    border-bottom-color: transparent;
}

.app-node-settings {
    position: relative;
    margin-top: 10px;
}

.app-node-tabs {
    padding-left: 48px;
    position: relative;
}

.app-options-tabs .options-icon,
.app-node-tabs .node-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 43px;
    background-color: #323F48;
}

.app-options-tabs .options-icon a,
.app-node-tabs .node-icon a {
    cursor: default;
}

.app-options-tabs {
    padding: 0 37px 0 43px;
}

.app-options-tabs,
.app-node-tabs {
    border: 1px solid #323F48;
    height: 44px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

.app-options-tabs li,
.app-node-tabs li {
    float: none;
    display: inline-block;
    position: relative;
    z-index: 99;
}

.app-options-tabs [role="presentation"],
.app-node-tabs [role="presentation"] {
    z-index: 999;
}

.app-options-tabs.nav-tabs > li > a,
.app-node-tabs.nav-tabs > li > a {
    margin: 0;
}

.app-node-tabs.app-overflow {
    padding-right: 37px;
    padding-left: 82px;
}

.app-options-tabs.app-overflow {
    padding-left: 82px;
    padding-right: 74px;
}

.app-options-tabs.app-overflow li {
    float: none !important;
}

.nav-tabs .app-scroll-left {
    position: absolute;
    left: 43px;
    top: 0;
    width: 37px;
    background-color: #182934;
    border-left: 1px solid #182934;
}

.nav-tabs .app-scroll-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 37px;
    background-color: #182934;
}

.app-options-tabs .app-scroll-right {
    right: 37px;
}

.app-options-tabs a,
.app-node-tabs a {
    height: 43px;
    outline: none;
}

.app-node-tabs li:not([role="presentation"]) a {
    padding: 10px;
}

.app-settings-content {
    position: relative;
    border: 1px solid #323F48;
    border-top: none;
}

.app-node-content,
.app-options-content {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
}

.app-node-content .app-node-thumbnail {
    width: 90px;
    height: 90px;
    line-height: 65px;
    overflow: hidden;
    text-align: center;
    background-color: #323F48;
    float: left;
    cursor: pointer;
    border: 1px solid #182934;
    padding: 7px;
}

.app-node-content .app-node-thumbnail span {
    vertical-align: middle;
    display: inline-block;
    line-height: 15px;
}

.app-node-content .app-node-thumbnail.active,
.app-node-content .app-node-thumbnail:hover {
    border-color: #6cadd3;
}

.app-node-content {
    border: 1px solid #323F48;
    border-top: none;
}

.app-options-tabs > li > a,
.app-node-tabs > li > a {
    border: none !important;
}

.nav > li.hide-settings-tab {
    position: absolute;
    width: 37px;
    right: 0;
    top: 0;
}

.app-hide-settings-button {
    margin-right: 0 !important;
}

.app-node-tabs [data-node-name]:hover,
.app-node-tabs li.active [data-node-name],
.app-options-tabs .btn {
    border: none !important;
    border-bottom: #323F48 solid 1px !important;
}

.app-node[data-node-name="emotion"],
.app-node-tabs > li.active > a[data-node-name="emotion"],
.app-node-tabs > li > a[data-node-name="emotion"]:hover,
.app-node-tabs > li > a[data-node-name="emotion"]:focus {
    background-color: #5bc0de;
}

.app-node[data-node-name="gesture"],
.app-node-tabs > li.active > a[data-node-name="gesture"],
.app-node-tabs > li > a[data-node-name="gesture"]:hover,
.app-node-tabs > li > a[data-node-name="gesture"]:focus {
    background-color: #d9544f;
}

.app-node[data-node-name="expression"],
.app-node-tabs > li.active > a[data-node-name="expression"],
.app-node-tabs > li > a[data-node-name="expression"]:hover,
.app-node-tabs > li > a[data-node-name="expression"]:focus {
    background-color: #d9544f;
}

.app-node[data-node-name="speech"],
.app-node-tabs > li.active > a[data-node-name="speech"],
.app-node-tabs > li > a[data-node-name="speech"]:hover,
.app-node-tabs > li > a[data-node-name="speech"]:focus {
    background-color: #5BB85D;
}

.app-node[data-node-name="look_at"],
.app-node-tabs > li.active > a[data-node-name="look_at"],
.app-node-tabs > li > a[data-node-name="look_at"]:hover,
.app-node-tabs > li > a[data-node-name="look_at"]:focus {
    background-color: #459098;
}

.app-node[data-node-name="gaze_at"],
.app-node-tabs > li.active > a[data-node-name="gaze_at"],
.app-node-tabs > li > a[data-node-name="gaze_at"]:hover,
.app-node-tabs > li > a[data-node-name="gaze_at"]:focus {
    background-color: #3b843d;
}

.app-node[data-node-name="interaction"],
.app-node-tabs > li.active > a[data-node-name="interaction"],
.app-node-tabs > li > a[data-node-name="interaction"]:hover,
.app-node-tabs > li > a[data-node-name="interaction"]:focus {
    background-color: #375748;
}

.app-node[data-node-name="pause"],
.app-node-tabs > li.active > a[data-node-name="pause"],
.app-node-tabs > li > a[data-node-name="pause"]:hover,
.app-node-tabs > li > a[data-node-name="pause"]:focus {
    background-color: #335b9e;
}

.app-node[data-node-name="random"],
.app-node-tabs > li.active > a[data-node-name="random"],
.app-node-tabs > li > a[data-node-name="random"]:hover,
.app-node-tabs > li > a[data-node-name="random"]:focus {
    background-color: #46827f;
}

.app-node[data-node-name="kfanimation"],
.app-node-tabs > li.active > a[data-node-name="kfanimation"],
.app-node-tabs > li > a[data-node-name="kfanimation"]:hover,
.app-node-tabs > li > a[data-node-name="kfanimation"]:focus {
    background-color: #a54343;
}

.app-node[data-node-name="head_rotation"],
.app-node-tabs > li.active > a[data-node-name="head_rotation"],
.app-node-tabs > li > a[data-node-name="head_rotation"]:hover,
.app-node-tabs > li > a[data-node-name="head_rotation"]:focus {
    background-color: #f0ad4e;
}

.app-node[data-node-name="chat"],
.app-node-tabs > li.active > a[data-node-name="chat"],
.app-node-tabs > li > a[data-node-name="chat"]:hover,
.app-node-tabs > li > a[data-node-name="chat"]:focus {
    background-color: #36baaa;
}

.node-select-container {
    padding-right: 0;
}

.node-settings-container {
    padding-left: 0;
}

.app-disabled .node-select-container {
    width: 100%;
}

.app-disabled .node-settings-container {
    display: none;
}

.app-mobile .node-select-container {
    padding-right: 15px;
}

.app-mobile .node-settings-container {
    padding-left: 15px;
}

.app-chat-response-list .form-inline {
    margin-bottom: 10px;
}

.app-options-content select {
    width: 100%;
}