<launch>
	<group ns="manyears">
		<remap from="audio_stream" to="stream" />
		<include file="$(find rt_audio_ros)/launch/rt_audio.launch" />
		<remap from="tracked_sources" to="sources_info"/>
		<include file="$(find manyears_ros)/launch/many_ears_8sounds.launch" />
		<node pkg="tf" type="static_transform_publisher" name="micro_center_link_tf"
			args="0 -2.00 1.00 0 0 0 base_link micro_center_link 10" />
		<remap from="pose_to_look" to="/track_person/face_pose" />
		<node name="sound_pose" pkg="manyears_ros" type="position_exploitation"/>
		
		<node name="savestream" pkg="manyears_ros" type="manyears_savestream" output="screen" />
			<param name="topic" type="string" value="sources_info" />

	</group>
</launch>
