body{
    background-color:#131415;
}

.chat-position{
    position:absolute;
    display:block;
    top:0px;
    left:50%;
    width:1000px;
    height:100%;
    margin-left:-500px;
    background-color:#333;
    color:#f0f0f0;
    font: 20px monospace, sans-serif;
}
.chat-position > input{
    position:absolute;
    display:block;
    bottom:0;
    width:1000px;
    border: solid #333;
    border-width: 30px;
    padding: 10px 20px 10px 20px;
    background-color:#484444;
    font:inherit;
    color:inherit;
}

.chat-position > .chat-content{
    position:absolute;
    top:0;
    bottom:104px;
    width:955px;
    overflow-y:scroll;
    overflow-x:initial;
    line-height:30px;
    padding: 30px 30px 0 30px;
}

.chat-position > .chat-content > br{
    line-height: 300%;
}

.chat-position > .chat-content > .error{
    color:#ffaaaa;
}

.chat-position > .chat-content > .user{
    color:#ddbbaa;
}

/*
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #808080;
    border: 0px none #ffffff;
    border-radius: 00px;
}*/
