/src/CMakeLists.txt
/src/vision/CppMT
/src/vision/dlib-18.18
/src/vision/openface/
/src/vision/emotime/
/src/vision/face-analysis-sdk/
/logs
/scripts/env.sh
/src/vision/images/
!.gitignore
!/src
*.sublime-project
*.sublime-workspace
*.blend?
*.blend??
.DS_Store
devel
build
.idea
*.pyc
.catkin_tools
*.swp
logs
install