<!-- -*- mode: XML -*- -->
<launch>
    <group ns="/fritz">
    <rosparam file="$(find robots_config)/fritz/config.yaml" command="load"/>
    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                pan_tilt_port:
                    port_name: "/dev-host/ttyUSB0"
                    baud_rate: 1000000
                    min_motor_id: 0
                    max_motor_id: 4
                    update_rate: 20
        </rosparam>
     </node>
     <node name="neck_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port pan_tilt_port
                base_controller
                base_right_controller
                base_left_controller
                neck_right_controller
                neck_left_controller"
          output="screen"/>
    </group>
</launch>
