.record-container {
    padding: 0;
}

.app-record-button {
    width: 39px;
    padding: 0 0 0 1px;

    margin-left: 5px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;;
    border-radius: 20px !important;;
}

.expand-face-select-button {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.app-scrollbar {
    position: relative;
}

.app-messages {
    margin: 10px 0;
}

.app-message {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.app-message.left .chat-body {
    margin-left: 60px;
}

.app-message.right .chat-body {
    margin-right: 60px;
}

.app-message .chat-body p {
    margin: 0;
}

.slidedown .glyphicon, .app-messages .glyphicon {
    margin-right: 5px;
}

.message-input-container {
    margin: 10px 0;
    height: 39px;
}

.app-send-button,
.app-record-button{
    height: 39px;
}

.app-face-thumbnails {
    white-space: nowrap;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    padding-right: 10px;
    height: 110px;
}

.face-thumbnail {
    margin: 0 0 10px 10px;
    display: inline-block;
    vertical-align: top;
}

.face-thumbnail.active {
    background-color: #df691a;
}

.app-face-container {
    background-color: #2b3e50;
}

.face-select-instruction {
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
}

.app-messages .header small{
    display: inline-block;
    padding-top: 30px;
}


.app-chat-settings-container {
    width: 360px;
    height: 30px;
    position: absolute;
    z-index: 9999999;
    right: 15px;
    top: 0;
    margin-top: 5px;
}

.app-chat-settings-container .btn-group {
    margin-left: 5px;
    float: right;
}

.app-noise-container,
.app-noise-slider,
.app-adjust-noise-button {
    float: right;
}

.app-noise-slider {
    height: 30px !important;
    width: 90px;
    position: relative;
    margin-right: 1px;
}

.app-noise-value {
    z-index: 99;
    text-align: center;
    position: absolute;
    line-height: 30px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    cursor: pointer;
}

.app-interaction-footer {
    -moz-box-shadow: -1px -1px 5px 0 #2b3e50;
    -webkit-box-shadow: -1px -1px 5px 0 #2b3e50;
    box-shadow: -1px -1px 5px 0 #2b3e50;
}