.app-motor-container {
    padding: 5px 0;
}

.app-motor-container p {
    margin-bottom: 5px;
}

.motor-slider-container {
    position: relative;
}

.app-motor-indicators {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    margin-top: 5px;
}

.app-motor-indicators > div {
    float: left;
    display: inline-block;
    height: 20px;
    border: 1px solid white;
    margin: 0 0 5px 5px;
    line-height: 20px;
}

.app-motor-indicators .app-motor-status-indicator {
    width: 20px;
}

.app-ok {
    background-color: #5BB85D;
}

.app-error {
    background-color: #D9544F;
}

.app-inactive {
    background-color: #f0ad4e;
}

.app-slider {
    margin: 5px 0 5px 0;
}

.app-slider.app-monitoring {
    margin-right: 105px;
}

.hidden {
    display: none;
}

/* SLIDER */
.ui-slider-handle {
    display: none;
}

.ui-slider {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;;
    border-radius: 0 !important;;
    border: none;
}

.ui-slider-range {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;;
    border-radius: 0 !important;;
}


#app-edit-motors {
    margin-bottom: 20px;
}

.app-slider-value-container {
    text-indent: 5px;
}

.app-motor-label {
    padding: 2px 8px;
    height: 21px;
}

.app-motor-container hr {
    margin: 0 0 5px;
}

.app-motor-grid {
    height: auto;
}

.backgrid thead th {
    background-color: #323F48;
}

.backgrid td.editor input[type=text] {
    color: #FFFFFF;
}

#motor-configuration-container .btn-group {
    margin: 10px 0;
}

.backgrid th, .backgrid td {
    padding: 6px 7px;
}

.backgrid-paginator ul > li > a:hover, .backgrid-paginator ul > .active > a, .backgrid-paginator ul > .active > span {
    background-color: #df691a;
    color: #FFF;
}

.backgrid-paginator ul > .disabled > span, .backgrid-paginator ul > .disabled > a, .backgrid-paginator ul > .disabled > a:hover {
    color: #FFF;
}

.backgrid select {
    color: #000;
}

.app-dynamixel-button-tooltip button {
    position: absolute;
    height: 19px;
    width: 19px;
    padding: 1px 3px 1px 2px;
}

.app-dynamixel-params {
    margin-top: 5px;
}

.app-dynamixel-button-tooltip {
    width: 19px;
    height: 19px;
    position: relative;
}

.app-dynamixel-params {
    margin-bottom: 5px;
}

.app-dynamixel-collapse .well {
    margin: 5px 0;
    padding: 5px;
}

.app-select-motor-button,
.app-select-group-button {
    height: 21px;
    width: 21px;
    padding: 0;
}