.list-group .list-group-item {
    margin-bottom: 1px;
    height: 43px;
    padding: 8px 15px;
}

.app-performances {
    padding: 10px 5px 5px 10px;
    width: 100%;
    border: 1px solid #323F48;
    margin-top: -1px;
}

.app-performances.active {
    border-color: #df691a;
}

.app-performances button {
    margin: 0 5px 5px 0;
}

.app-new-performance-button {
    margin-bottom: 5px;
}

.app-performance-group-container {
    width: 215px;
}

.performance-name-container {
    width: 390px;
}

.app-nodes,
.performance-name-container,
.performance-action-buttons,
.app-node-settings,
.app-performance-queue-container,
.app-performance-queue {
    margin-bottom: 10px;
}

.app-performance-queue span.ui-icon {
    margin-right: 5px;
    cursor: move;
}

.app-performance-queue button {
    height: 21px;
    width: 21px;
    padding: 2px;
    margin: 0 0 0 5px;
    position: relative;
}

.app-performance-queue button span {
    position: absolute;
    left: 1px;
    top: 3px;
}

.app-clear-performance-queue {
    margin: 0;
}

.app-timeline-nodes,
.app-timeline-checkbox {
    background-color: #323F48;
}

.app-timeline-nodes {
    height: 20px;
    margin-bottom: 1px;
    max-height: 20px;
    position: relative;
    width: 100%;
}

.app-timeline-nodes .app-node {
    position: absolute;
    overflow: hidden;
}

.app-timeline-editor {
    margin-bottom: 5px;
}

.app-node {
    position: relative;
    display: inline-block;
    line-height: 14px;
    height: 20px;
    text-align: left;
    z-index: 999;
    cursor: pointer;
    border: 1px solid #182934;
}

.app-node[data-name="expression"] {
    background-color: #517688;
}

.app-node .ui-resizable-handle {
    position: absolute;
    right: 0;
    bottom: 0;
}

.app-node-settings .ui-slider {
    min-width: 200px;
}

.node-setting-buttons {
    margin-top: 22px;
}

.app-node.active {
    box-shadow: 0 0 3pt 2pt #df691a;
    z-index: 9999999;
}

.app-timeline {
    position: relative;
}

.app-slider-demo {
    height: 26px;
}

.app-node-resize-handle {
    position: absolute;
    right: 0;
    line-height: 19px;
    margin: 0 2px;
}

.app-timeline-actions button {
    margin-right: 1px;
}

.app-timeline-container {
    overflow: visible;
}

.app-node-settings label {
    margin: 0 0 5px;
    display: block;
}

.app-node-settings .form-group {
    margin-right: 5px;
}

.app-node-settings hr:first-child {
    margin: 9px 0 0;
}

.app-node-settings hr:last-child {
    margin: 9px 0;
}

.app-timeline-editortainer {
    position: relative;
}

.app-timelines-container {
    overflow: visible;
    margin-top: 10px;
}

.app-scroll-container {
    position: relative;
}

.app-node-settings .app-crosshair {
    margin-top: 10px;
}

.app-timelines {
    position: relative;
}

.app-run-indicator {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #df691a;
    z-index: 9999999999;
    cursor: pointer;
}

.app-current-time {
    position: absolute;
    top: 100%;
}

.app-current-time div {
    background-color: #df691a;
    padding: 0 3px;
    margin-left: -50%;
    margin-right: 50%;

    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

/*.app-node-start-time,*/
/*.app-node-duration,*/
/*.app-node-timeout {*/
    /*width: 70px !important;*/
/*}*/

.app-performance-template {
    display: none;
}

li.app-performance .app-status-indicator {
    height: 14px;
    width: 14px;
    background-color: #182934;
    display: inline-block;
    margin-right: 5px;
}

li.app-performance .app-status-indicator.active {
    background-color: #df691a;
}

.app-performance-queue .ui-state-highlight {
    height: 38px;
}

.app-time-axis {
    height: 20px;
    cursor: pointer;
}

.app-time-axis path,
.app-time-axis line {
    stroke: #df691a;
    fill: none;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.app-time-axis text {
    font-family: sans-serif;
    font-size: 11px;
    stroke: #ebebeb;
}

textarea.form-control.app-node-text {
    height: 39px;
}

.input-group .form-control.app-performance-name {
    width: auto;
}

.app-performance-buttons > button {
    display: table-cell;
    margin-right: 5px;
}

@media (min-width: 606px) {
    .performance-action-buttons {
        float: right;
    }
}

.app-expression-select,
.app-emotion-select,
.app-gesture-select,
.app-kfanimation-select {
    width: 200px !important;
}

.app-lang-select {
    width: 100px;
}

.app-current-path {
    float: right !important;
    z-index: 999;
}

.app-current-path a {
    margin: 0 !important;
}

.app-selectareas-container {
    margin: 10px 0;
    border: 1px solid #323F48;
}

.select-areas-footbar {
    margin-bottom: 15px;
}

.app-performance-group-tabs li.highlight a {
    border-color: #df691a !important;
}

.app-new-dir {
    padding: 5px;
    border: 1px solid #323F48;
    border-bottom-color: transparent;
}

.app-node-settings {
    position: relative;
    margin-top: 10px;
}

.app-options-tabs,
.app-node-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
    border: 1px solid #323F48;
    float: left;
    height: 42px;
}

.app-settings-content {
    position: relative;
    border: 1px solid #323F48;
    border-top: none;
}

.app-node-content,
.app-options-content {
    float: left;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
}

.app-node-tabs,
.app-node-content {
    width: 60%
}

.app-node-content {
    border-right: 1px solid #323F48;
}

.app-options-tabs,
.app-options-content {
    width: 40%;
}

.app-node-tabs li.node-icon a,
.app-options-tabs li.options-icon a {
    background-color: #323F48;
    cursor: default;
    padding: 10px 15px;
}

.app-options-tab {
    float: right !important;
}

.app-node-tabs > li {
    float: none;
}

.app-node-tabs > li > a {
    padding: 10px 5px;
}

.app-node-tabs > li > a {
    border: none;
}

.app-node[data-node-name="emotion"],
.app-node-tabs > li.active > a[data-node-name="emotion"],
.app-node-tabs > li > a[data-node-name="emotion"]:hover,
.app-node-tabs > li > a[data-node-name="emotion"]:focus {
    background-color: #5bc0de;
}

.app-node[data-node-name="gesture"],
.app-node-tabs > li.active > a[data-node-name="gesture"],
.app-node-tabs > li > a[data-node-name="gesture"]:hover,
.app-node-tabs > li > a[data-node-name="gesture"]:focus {
    background-color: #d9544f;
}

.app-node[data-node-name="speech"],
.app-node-tabs > li.active > a[data-node-name="speech"],
.app-node-tabs > li > a[data-node-name="speech"]:hover,
.app-node-tabs > li > a[data-node-name="speech"]:focus {
    background-color: #5BB85D;
}

.app-node[data-node-name="look_at"],
.app-node-tabs > li.active > a[data-node-name="look_at"],
.app-node-tabs > li > a[data-node-name="look_at"]:hover,
.app-node-tabs > li > a[data-node-name="look_at"]:focus {
    background-color: #df691a;
}

.app-node[data-node-name="gaze_at"],
.app-node-tabs > li.active > a[data-node-name="gaze_at"],
.app-node-tabs > li > a[data-node-name="gaze_at"]:hover,
.app-node-tabs > li > a[data-node-name="gaze_at"]:focus {
    background-color: #f0ad4e;
}

.app-node[data-node-name="interaction"],
.app-node-tabs > li.active > a[data-node-name="interaction"],
.app-node-tabs > li > a[data-node-name="interaction"]:hover,
.app-node-tabs > li > a[data-node-name="interaction"]:focus {
    background-color: #375748;
}

.app-node[data-node-name="pause"],
.app-node-tabs > li.active > a[data-node-name="pause"],
.app-node-tabs > li > a[data-node-name="pause"]:hover,
.app-node-tabs > li > a[data-node-name="pause"]:focus {
    background-color: #335b9e;
}

.app-node[data-node-name="random"],
.app-node-tabs > li.active > a[data-node-name="random"],
.app-node-tabs > li > a[data-node-name="random"]:hover,
.app-node-tabs > li > a[data-node-name="random"]:focus {
    background-color: #46827f;
}

.app-node[data-node-name="kfanimation"],
.app-node-tabs > li.active > a[data-node-name="kfanimation"],
.app-node-tabs > li > a[data-node-name="kfanimation"]:hover,
.app-node-tabs > li > a[data-node-name="kfanimation"]:focus {
    background-color: #5bb85d;
}

.app-node[data-node-name="head_rotation"],
.app-node-tabs > li.active > a[data-node-name="head_rotation"],
.app-node-tabs > li > a[data-node-name="head_rotation"]:hover,
.app-node-tabs > li > a[data-node-name="head_rotation"]:focus {
    background-color: #f0ad4e;
}

.app-disabled .app-node-tabs {
    width: 100%;
}

.app-disabled .app-options-tabs,
.app-disabled .app-settings-content {
    display: none;
}
