.btn-group.top {
    margin-top: 10px;
}

.btn-group.bottom {
    margin-bottom: 10px;
}

.app-settings select {
    background-color: #FFF !important;
    margin-left: 15px !important;
}

.app-settings .well {
    background-color: #2b3e50;
    border: 1px solid #485563;
}

.app-settings button {
    margin-bottom: 10px;
}

.app-settings .select2-container .select2-choice {
    height: 37px;
    min-width: 50px;
    color: #444;
    text-decoration: none;
}

.app-settings-navigation-container {
    position: absolute;
    top: 0;
    z-index: 99;
}

.app-settings-navigation {
    -ms-opacity: 0.95;
    opacity: 0.95;
    position: fixed;
}

.app-settings-container {
    margin-left: 40px;
}