.app-status-indicators {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
}

.app-status-indicators li {
    margin-bottom: 10px;
    border-bottom: 1px solid #323F48;
}

.app-status-indicators span {
    margin-right: 10px;
}

.app-status-indicators span.glyphicon-ok {
    color: green;
}

.app-status-indicators span.glyphicon-remove {
    color: red;
}
