.app-slider-container {
    margin: 5px 0;
    padding: 5px 0;
    list-style: none;
}

.app-slider-container p {
    margin-bottom: 5px;
}

.app-slider {
    margin: 5px 0;
}

@media screen and (min-width: 590px) {
    .control-stack {
        width: 590px;
    }

    #app-motor-sliders {
        width: 380px;
        float: left;
    }

    .expression-buttons {
        float: left;
    }
}

.expression-buttons {
    margin: 2px;
}

.hidden {
    display: none;
}

/* SLIDER */
.ui-slider-handle {
    display: none;
}

.ui-slider  {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;;
    border-radius: 0 !important;;

    background-color: #2b3e50;
    border: none;
}

.ui-slider-range {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;;
    border-radius: 0 !important;;

    background-color: #df691a;
}

.ui-slider {
    height: 20px;
}

#app-motor-sliders {
    padding: 0;
    max-resolution: 0;
    list-style: none;
}

#app-edit-motors {
    margin-bottom: 20px;
}

.app-slider-value-container {
    text-indent: 5px;
}

.app-motors-show-on-edit {
    display: none;
}

.app-motor-name {
    padding: 2px 8px;
    height: 21px;
}

.app-slider-container hr {
    margin: 0 0 5px;
}

.app-slider-container .app-motor-info {
    margin-bottom: 5px;
}

.app-motor-drag-handle {
    cursor: move;
    display: none;
}

#app-motor-sliders .ui-state-highlight {
    height: 132px;
    padding: 5px;
    background: #4e5d6c;
    border: solid 1px #df691a;
}

#app-edit-motors-button {
    display: none;
}