.app-slider-container {
    margin: 5px 0;
    padding: 5px 0;
    list-style: none;
}

.app-slider-container p {
    margin-bottom: 5px;
}

.app-slider {
    margin: 5px 0;
}

.hidden {
    display: none;
}

/* SLIDER */
.ui-slider-handle {
    display: none;
}

.ui-slider  {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;;
    border-radius: 0 !important;;

    background-color: #2b3e50;
    border: none;
}

.ui-slider-range {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;;
    border-radius: 0 !important;;

    background-color: #df691a;
}

.ui-slider {
    height: 20px;
}

#app-edit-motors {
    margin-bottom: 20px;
}

.app-slider-value-container {
    text-indent: 5px;
}

.app-motor-label {
    padding: 2px 8px;
    height: 21px;
}

.app-slider-container hr {
    margin: 0 0 5px;
}

.app-slider-container .app-motor-info {
    margin-bottom: 5px;
}

.app-motor-drag-handle {
    cursor: move;
    display: none;
}

.app-motors-show-on-edit, .app-save-motors-button {
    display: none;
}

ul.app-motors {
    list-style: none;
    padding: 0;
}

.app-motors li.app-active {
    border: 3px solid #df691a;
    margin-bottom: 5px;
    padding: 3px;
}

.motor-action {
    padding: 2px 6px;
}

.app-motor-drag-handle {
    margin-right: 5px;
}