<!-- -*- mode: XML -*- -->
<launch>
    <node pkg="topic_tools" type="mux" name="neck_pau" args="neck_pau /blender_api/get_pau cmd_neck_pau mux:=neck_pau_mux"/>
    <node pkg="topic_tools" type="mux" name="head_pau" args="head_pau /blender_api/get_pau no_pau mux:=head_pau_mux"/>
    <node pkg="topic_tools" type="mux" name="lips_pau" args="lips_pau head_pau lipsync_pau mux:=lips_pau_mux"/>
    <node pkg="topic_tools" type="mux" name="eyes_pau" args="eyes_pau head_pau eyes_tracking_pau mux:=eyes_pau_mux"/>

    <node pkg="topic_tools" type="mux" name="tts" args="tts chatbot_responses web_responses mux:=tts_mux"/>
    <node pkg="topic_tools" type="mux" name="tts_en" args="tts_en chatbot_responses_en web_responses_en mux:=tts_en_mux"/>
    <node pkg="topic_tools" type="mux" name="tts_zh" args="tts_zh chatbot_responses_zh web_responses_zh mux:=tts_zh_mux"/>
</launch>

