/*Overides*/

*{
    font-weight: 300 !important;
}

body {
    background: #11161A;
}

header {
    background: #444;
    text-align: center;
}

.btn {
   color: #111;
   background-color: #dc0;
   border-color: #ffec03;
}

.btn:hover {
   color: #111;
   background-color: #dc0;
   border-color: #ffec03;
}
.btn:active, .btn:focus {
background-color: #C0ffff!important;
border-color: #C0ffff!important;
color: #111!important;
}
.active {
background-color: #C0ffff!important;
border-color: #C0ffff!important;
color: #111!important;
}
.active:hover {
background-color: #C0ffff!important;
border-color: #C0ffff!important;
color: #111!important;
}
.navbar {
    margin: 0;
    min-height: 10px;
}

header .container {
    padding: 5px;
}

.row, #playlist{
    text-align: center;
}

#controls .btn {
    width: 29%;
}

.col-md-6 {
    width: 45%;
    float: left;
}

h4 {
    color: white;
}

.btn {
 max-width: 90px;
}

#control-area {
    border-bottom: 1px solid #444;
}

#loop{
    width: 40%;
    border: none;
    float: left;
    padding: 0;
}

#ctrls{
    width: 60%;
    border: none;
    float: left;
    padding: 0;
}


@media (min-width: 568px) {
    .col-md-4 {
        width: 33.33333333333%;
        text-align: center;
    }

    .row .btn {
        width: 48%;
        margin-right: 1%;
        margin-bottom: 10px;
        border-radius: 4px !important;
        padding: 3px 6px;
        max-width: 90px;
    }

    #controls  {
        min-width: 300px;
        padding-right: 5px;
    }

}

@media (min-width: 320px) {
    #controls  {
        min-width: 215px;
        padding-right: 5px;
    }

    .col-md-4 {
        color: white;
        text-align: center;
        min-height: 50px;
        width: 100%;
        border: 1px solid #444;;
        float: left;
    }

   .row .btn {
       width: 48%;
       margin-right: 1%;
       margin-bottom: 10px;
       border-radius: 4px !important;
       padding: 3px 6px;
       max-width: 90px;
    }
}
@media (min-width: 992px){
    .col-md-3 {
	width: 100%;
    }
}


