<!-- -*- mode: XML -*- -->
<launch>
    <arg name="saliency_tracking" default="false" />
    <include file="$(find perception)/launch/geometry.launch">
        <arg name="model" value="$(find perception)/description.urdf" />
    </include>
    <include file="$(find ros_nmpt_saliency)/launch/saliency.launch" if="$(arg saliency_tracking)" />
    <include file="$(find room_luminance)/launch/room_luminance.launch" />
    <node name="audio_stream" pkg="audio_stream" type="run.py" respawn="true"/>
    <node name="audio_sensor" pkg="audio_stream" type="audio_sensor.py" respawn="true"/>
</launch>
