<!-- -*- mode: XML -*- -->
<launch>
    <arg name="basedir" default="." />
    <arg name="name" default="robot"/>
    <arg name="pi_vision" default="true"/>
    <arg name="oc_chatbot" default="false"/>
    <arg name="saliency_tracking" default="false" />
    <param name="robot_name" value="$(arg name)" />

    <group ns="$(arg name)">
        <!-- load robot specific config files. Icl. hw settings and customized expressions/animations -->
        <rosparam file="$(find robots_config)/$(arg name)/config.yaml" command="load"/>
        <rosparam file="$(find robots_config)/$(arg name)/motors.yaml" command="load" />
        <rosparam file="$(find robots_config)/$(arg name)/expressions.yaml" command="load"/>
        <rosparam file="$(find robots_config)/$(arg name)/animations.yaml" command="load"/>
        <rosparam file="$(find robots_config)/$(arg name)/safety.yaml" command="load"/>
        <rosparam file="$(find robots_config)/$(arg name)/attention_regions.yaml" command="load"/>

        <!-- Hardware specific nodes -->


        <!-- Set default chatbot language [en|zh] -->
        <param name="lang" value="en" />

        <!-- Launch chatbot -->
        <include file="$(arg basedir)/chat.launch" >
          <arg name="oc_chatbot" value="$(arg oc_chatbot)"/>
        </include>

        <!-- Topic Mux for webui -->
        <include file="$(arg basedir)/topic_tools.launch" />

    </group>

    <!-- Face Tracking -->
    <!-- include file="$(arg basedir)/face_tracker.launch">
      <arg name="pi_vision" value="$(arg pi_vision)"/>
    </include -->

    <!-- Perception -->
    <include file="$(arg basedir)/perception.launch">
        <arg name="saliency_tracking" value="$(arg saliency_tracking)" />
    </include>

    <!-- Web UI and rosbridge for webui -->
    <include file="$(find webui)/webui.launch" />
    <include file="$(arg basedir)/rosbridge.launch" />
    <include file="$(arg basedir)/rosbridge_ssl.launch" />
</launch>