<!-- -*- mode: XML -*- -->
<launch>
    <node pkg="topic_tools" type="mux" name="neck_pau" args="neck_pau /blender_api/get_pau cmd_neck_pau mux:=neck_pau_mux"/>
    <node pkg="topic_tools" type="mux" name="head_pau" args="head_pau /blender_api/get_pau no_pau mux:=head_pau_mux"/>
    <node pkg="topic_tools" type="mux" name="lips_pau" args="lips_pau head_pau lipsync_pau mux:=lips_pau_mux"/>
    <node pkg="topic_tools" type="mux" name="eyes_pau" args="eyes_pau head_pau eyes_tracking_pau mux:=eyes_pau_mux"/>
</launch>

