body {
    margin-top: 40px;
}

#logo {
    padding-right: 10px;
    height: 20px;
}

.text-muted {
    color: #738392;
}

.glyphicon.white {
    color: #CCC;
}

.app-page {
    display: none;
}

.expression-button, .app-animation-button, .animation-control {
    margin: 3px;
    width: 75px;
    padding: 4px 0 4px 0;
}

.app-animation-button {
    width: 90px;
}

.animation-control {
    margin: 0;
    width: 58px;
}

#notifications {
    margin-top: 10px;
}

#notifications .label {
    cursor: pointer;
    font-size: 12px;
}

#app-page-interaction {
    padding-top: 20px;
}
