#!/usr/bin/env python
PACKAGE = 'face_recognition'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enable", bool_t, 0, "Enable Face Recognition", True)
gen.add("train", bool_t, 0, "Enable Training", False)
gen.add("face_name", str_t, 0, "Name of the face in training", 'stranger')
gen.add("reset", bool_t, 0, "Reset the classifier", False)
gen.add("multi_faces", bool_t, 0, "Recognize Multiple Faces", False)
gen.add("confidence_threshold", double_t, 0, "Confidence Threshold", 0, 0, 1)

# package name, node name, config name
exit(gen.generate(PACKAGE, "face_recognition", "FaceRecognition"))
