<!doctype html>
<html lang="en">
  <head>
    <title>Chatbot Web Listener</title>
    <link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
      src="{{url_for('static', filename='eventemitter2.js')}}">
    </script>
    <script type="text/javascript"
      src="{{url_for('static', filename='roslib.js')}}">
    </script>

    <script type="text/javascript">
      var ros = new ROSLIB.Ros({
        url: 'ws://{{ws_host}}:9090'
      });
    
      var speech_topic = new ROSLIB.Topic({
        ros: ros,
        name: '/chatbot_speech',
        messageType: 'chatbot/ChatMessage'
      });

      function recognizeSpeech() {
        if (!('webkitSpeechRecognition' in window)) {
          alert('Browser not supported.');
        } else {
          var recognition = new webkitSpeechRecognition();
        
          recognition.onstart = function() {
            document.querySelector('#recordbutton').textContent =
              "Cancel recording";
          };
        
          recognition.onerror = function(event) {
            alert('Recognition error');
          };
        
          recognition.onend = function() {
            document.querySelector('#recordbutton').textContent =
              "Start recording";
          };
        
          recognition.onresult = function(event) {
            var utterance = event.results[0][0].transcript;
            document.querySelector('#lasttext').textContent = utterance;
            var chat_message = new ROSLIB.Message({
              utterance: utterance,
              confidence: Math.round(event.results[0][0].confidence * 100)
            });
            speech_topic.publish(chat_message);
          };
          recognition.start();
        }
      }
    </script>
  </head>
  <body>
    <div class="container">
      <p class="bg-info" id="lasttext"></p>
      <div class="text-center">
      <button type=button id="recordbutton" class="btn btn-lg btn-primary"
        onclick="recognizeSpeech()" />Start recording</button>
    </div>
    </div>
  </body>
</html>
