#!/usr/bin/env python
PACKAGE = 'nasic_head_api'
from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()
# param: name, paramtype, level, description, default, mix, max, edit_method
gen.add("arms_alive", bool_t, 0, "Arms alive while speaking", False)
