#logo {
    padding-right: 10px;
    height: 20px;
}

.text-muted {
    color: #738392;
}

.glyphicon.white {
    color: #CCC;
}

.app-page {
    display: none;
}

.expression-buttons .btn {
    /*margin: 3px;*/
    /*width: 75px;*/
    /*padding: 4px 0px 4px 0px;*/
}