body {
    margin-top: 40px;
}

#logo {
    padding-right: 10px;
    height: 20px;
}

.container {
     position: relative;
}

.text-muted {
    color: #738392;
}

.glyphicon.white {
    color: #CCC;
}

.app-page {
    display: none;
}

.expression-button, .app-animation-button, .animation-control {
    margin: 0 5px 5px 0;
    padding: 5px 10px;
}

.app-animation-button {
    width: 90px;
}

.animation-control {
    margin: 0;
    width: 58px;
}

#notifications {
    margin-top: 10px;
}

#notifications .label {
    cursor: pointer;
    font-size: 12px;
}

#app-page-interaction {
    padding-top: 20px;
}

.app-expressions.expression-buttons div {
    float: left;
}

.ui-state-highlight {
    list-style: none;
    height: 132px;
    padding: 5px;
    background: #4e5d6c;
    border: solid 1px #df691a;
}

.ui-sortable-helper {
    background-color: #2b3e50;
    border: solid 1px #df691a;
    padding: 10px 5px 5px;
}

.top-buffer { margin-top:20px; }
.bottom-buffer { margin-bottom:20px; }

.ui-slider-handle {
    -ms-touch-action: none;
    touch-action: none;
}

.tooltip-inner {
    background-color: #4e5d6c;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #4e5d6c;
}

.panel-body {
    background-color: #2b3e50;
    border: 1px solid #485563;
}

.app-language-select-container {
    width: 75px;
    height: 30px;
    position: absolute;
    z-index: 9999999;
    right: 15px;
    top: 0;
}

.app-language-select {
    margin-top: 5px;
    position: fixed;
}