<!-- -*- mode: XML -*- -->
<launch>
    <node name="tts" pkg="tts" type="tts_talker.py">
        <param name="topic_name" value="chatbot_responses" />
    </node>
    <node name="chatbot_en" pkg="chatbot" type="ai.py" args="$(find chatbot)/aiml/">
        <param name="properties" value="$(find robots_config)/sophia/bot.properties" />
    </node>
    <node name="chatbot_zh" pkg="chinese_chatbot" type="talker.py" />
    <node name="recorder" pkg="recorder" type="continuous_recorder.py" />
    <node name="speech_recognizer" pkg="isr" type="speech_recognizer.py" />
    <node name="speech2command" pkg="speech2command" type="speech2command.py" />
</launch>

