<!-- -*- mode: XML -*- -->
<launch>
    <group ns="safe">
        <rosparam file="$(find robots_config)/han/dynamixel.yaml" command="load"/>
        <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" output="screen" machine="robot">
            <rosparam>
                namespace: dxl_manager
                serial_ports:
                    pan_tilt_port:
                        port_name: "/dev/ttyUSB0"
                        baud_rate: 1000000
                        min_motor_id: 0
                        max_motor_id: 4
                        update_rate: 20
            </rosparam>
        </node>
        <node name="neck_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
             args="--manager=dxl_manager
                   --port pan_tilt_port
                   Left_Base_controller
                   Right_Base_controller
                   Yaw_controller
                   Left_Neck_controller
                   Right_Neck_controller"
             output="screen" machine="robot"/>
    </group>
    <node name="pololu_left" pkg="ros_pololu" type="ros_pololu_node.py" respawn="True" machine="robot">
        <param name="pololu_motors_yaml" value="$(find robots_config)/han/left.yaml" />
        <param name="port_name" value="/dev/serial/by-id/usb-Pololu_Corporation_Pololu_Mini_Maestro_24-Channel_USB_Servo_Controller_00080376-if00" />
        <param name="topic_prefix" value="left/" />
        <param name="controller" value="Maestro" />
        <param name="sync" value="off" />
        <param name="safety" value="true" />
    </node>

    <node name="pololu_right" pkg="ros_pololu" type="ros_pololu_node.py" respawn="True" machine="robot">
        <param name="pololu_motors_yaml" value="$(find robots_config)/han/right.yaml" />
        <param name="port_name" value="/dev/serial/by-id/usb-Pololu_Corporation_Pololu_Mini_Maestro_24-Channel_USB_Servo_Controller_00080388-if00" />
        <param name="topic_prefix" value="right/" />
        <param name="controller" value="Maestro" />
        <param name="sync" value="off" />
        <param name="safety" value="true" />
        <param name="delay" value="1" />
    </node>

    <node name="pololu_middle" pkg="ros_pololu" type="ros_pololu_node.py" respawn="True" machine="robot">
        <param name="pololu_motors_yaml" value="$(find robots_config)/han/middle.yaml" />
        <param name="port_name" value="/dev/serial/by-id/usb-Pololu_Corporation_Pololu_Mini_Maestro_24-Channel_USB_Servo_Controller_00080379-if00" />
        <param name="topic_prefix" value="middle/" />
        <param name="controller" value="Maestro" />
        <param name="sync" value="off" />
        <param name="safety" value="true" />
        <param name="delay" value="2" />
    </node>
    <node name="motors_safety" pkg="motors_safety" type="safety_node.py" respawn="True" machine="robot"/>
    <node name="scripts_launcher" pkg="robots_config" type="scripts_launcher.py" machine="robot">
        <param name="scripts_dir" value="$(find robots_config)/han/scripts" />
    </node>
</launch>
