#!/usr/bin/env python
PACKAGE = 'eye_tracking'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# param: name, paramtype, level, description, default, mix, max, edit_method
gen.add("tracking", bool_t, 0, "Tracking", False)

# package name, node name, config name
exit(gen.generate(PACKAGE, "eye_tracking", "EyeTracking"))

