<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="pi_vision" default="true"/>
    <arg name="realsense" default="false"/>
    <arg name="cmt" default="false"/>
    <arg name="testing" default="false"/>
    <arg name="offline" default="false"/>
    <arg name="gui" default="true"/>

    <group if="$(arg pi_vision)">
       <arg name="auto_face_tracking" default="true" />
       <node pkg="pi_face_tracker" name="body_face_tracker" type="face_tracker.py" >

           <!--remap the topics if using multiple cameras -->
           <remap from="input_rgb_image" to="camera/image_rect_color" />
           <remap from="output_image" to="camera/pi_face_tracker/image" />

           <param name="auto_face_tracking" value="$(arg auto_face_tracking)" />
           <param name="camera_name" value="camera" />
           <param name="gui" value="$(arg gui)"/>

           <rosparam>
            use_haar_only: False
            auto_min_features: True
            min_features: 50
            abs_min_features: 6
            good_feature_distance: 5
            add_feature_distance: 10
            max_face_size: 0.28
            expand_roi: 1.02
            flip_image: False
            feature_type: 0
            camera_fov_x: 1.42
           </rosparam>

           <param name="cascade_frontal_alt" value="$(find pi_face_tracker)/params/haarcascade_frontalface_alt.xml" />
       </node>
    </group>

	<node name="realsense_tracker" pkg="realsense_ros" type="tracker.py" respawn="true" output="screen" if="$(arg realsense)">
        <param name="robot_config_dir" value="$(find robots_config)" />
    </node>

    <group if="$(arg cmt)">
        <include file="$(find cmt_tracker)/launch/cmt_launcher.launch" ns="camera">
            <arg name="testing" value="$(arg testing)"/>
            <arg name="offline" value="$(arg offline)"/>
            <arg name="gui" value="$(arg gui)"/>
        </include>
    </group>
</launch>
