<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="name"/>

	<!-- robot name -->
	<param name="/robot_name" type="str" value="$(arg name)"/>

	<!-- /robot -->
	<group ns="/$(arg name)">

		<!-- perception/input/sensors -->
		<group ns="perception">

			<node name="fusion" type="fusion.py" pkg="fusion1"/>

		</group>

	</group>

</launch>
