.record-container {
    padding: 0 0 10px 0;
}

.app-record-button {
    display: block;
    width: 100%;
}

.app-messages {
    list-style: none;
    margin: 15px 0 92px 0;
    padding: 0;
    overflow: auto;
    height: auto;
}

.app-messages li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.app-messages li.left .chat-body {
    margin-left: 60px;
}

.app-messages li.right .chat-body {
    margin-right: 60px;
}

.app-messages li .chat-body p {
    margin: 0;
}

.slidedown .glyphicon, .app-messages .glyphicon {
    margin-right: 5px;
}

.message-input-container {
    margin-top: 10px;
}

.app-send-button {
    height: 31px;
}

.app-send-button {
    margin-left: 0;
}

.app-send-button {
     margin-bottom: 10px;
}