.record-container {
    padding: 0 0 10px 0;
}

.app-record-button,
.expand-face-select-button {
    display: block;
    width: 100%;
}

.app-messages {
    list-style: none;
    margin: 15px 0 92px 0;
    padding: 0;
    overflow: auto;
    height: auto;
}

.app-messages li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.app-messages li.left .chat-body {
    margin-left: 60px;
}

.app-messages li.right .chat-body {
    margin-right: 60px;
}

.app-messages li .chat-body p {
    margin: 0;
}

.slidedown .glyphicon, .app-messages .glyphicon {
    margin-right: 5px;
}

.message-input-container {
    margin-top: 10px;
}

.app-send-button {
    height: 31px;
}

.app-send-button {
    margin-left: 0;
}

.app-send-button {
    margin-bottom: 10px;
}

.app-face-thumbnails {
    white-space: nowrap;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    padding-right: 10px;
}

.face-thumbnail {
    margin: 0 0 10px 10px;
    display: inline-block;
    vertical-align: top;
}

#app-face-container {
    background-color: #2b3e50;
    padding: 10px 0 0;
}
