.list-group .list-group-item {
    margin-bottom: 1px;
    height: 43px;
    padding: 8px 15px;
}

.app-performances-region,
.app-performance-queue-container,
.app-performance-queue {
    margin-bottom: 10px;
}

.app-performance-queue span.ui-icon {
    margin-right: 10px;
    cursor: move;
}

.app-performance-queue button {
    height: 21px;
    width: 21px;
    padding: 2px;
    margin: 0 0 0 5px;
    position: relative;
}

.app-performance-queue button span {
    position: absolute;
    left: 1px;
    top: 3px;
}

.app-clear-performance-queue {
    margin: 0;
}

.app-timeline-container {
    height: 21px;
    width: 100%;
}

.app-timeline-nodes,
.app-timeline-checkbox
{
    background-color: #4e5d6c;
}

.app-timeline-nodes {
    height: 20px;
    max-height: 20px;
    position: relative;
}

.app-timeline-nodes .app-node {
    position: absolute;
    overflow: hidden;
}

.app-timeline-editor {
    margin-bottom: 5px;
}

.app-nodes .app-node {
    margin-bottom: 10px;
}

.app-node {
    position: relative;
    display: inline-block;
    line-height: 17px;
    height: 20px;
    text-align: left;
    z-index: 999;
    cursor: pointer;
}

.app-node.active {
    border: 1px solid #df691a;
}

.app-timeline {
    position: relative;
}

.select2-container {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.app-slider-demo {
    height: 26px;
}

.app-node-resize-handle {
    position: absolute;
    right: 0;
    line-height: 19px;
    margin: 0 2px;
}

.app-timeline-actions button {
    margin-right: 1px;
}

.app-timeline-container {
    overflow: visible;
}

.app-node-settings label {
    display: block;
    margin-top: 9px;
}

.app-node-settings hr:first-child {
    margin: 9px 0 0;
}

.app-node-settings hr:last-child {
    margin: 9px 0;
}

.app-timeline-editor-container {
    position: relative;
    margin-bottom: 10px;
}

.app-timelines-container {
    margin-bottom: 5px;
    overflow: auto;
}

.app-node-settings .select2-container {
    width: 100%;
}

.app-node-settings .btn {
    margin-top: 31px;
}

.app-node-settings .select2-choice,
.app-node-settings .ui-slider {
    height: 39px;
    line-height: 39px;
}

.app-node-settings .app-crosshair {
    margin-top: 10px;
}

.app-timelines {
    position: relative;
}

.app-run-indicator {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #df691a;
    z-index: 9999;
}

.app-performance-template {
    display: none;
}

.app-performance-queue .ui-state-highlight {
    height: 38px;
}

.app-time-axis {
    height: 20px;
    cursor: pointer;
}

.app-time-axis path {
    background-color: #df691a;
    height: 3px;
}

.app-time-axis path,
.app-time-axis line {
    fill: none;
    stroke: #df691a;
    shape-rendering: crispEdges;
}

.app-time-axis text {
    font-family: sans-serif;
    font-size: 11px;
    stroke: #ebebeb;
}
