<launch>
    <rosparam file="$(find eye_tracking)/launch/params.yaml" command="load"/>
    <node pkg="topic_tools" type="mux" name="eyes_pau" args="eyes_pau head_pau eyes_tracking_pau mux:=eyes_pau_mux"/>
    <node pkg="usb_cam" type="usb_cam_node" name="camera">
      <param name="video_device" value="/dev/video0"/>
      <param name="pixel_format" value="yuyv"/>
      <!-- Image size and type -->
      <param name="width" value="640"/>
      <param name="height" value="480"/>
    </node>
    <node pkg="eye_tracking" type="eye_tracking.py" name="eye_tracking" output="screen">
        <param name="topic" value="/camera/image_raw" />
        <param name="crop" value="0.1" />
        <param name="scale" value="0.5" />
        <param name="angle" value="-35" />
    </node>
</launch>